@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

@import "bigSlider.css";
@import "button.css";
@import "card.css";
@import "footer.css";
@import "megaMenuDesktop.css";
@import "navMenuDesktop.css";
@import "navMenuMobile.css";
@import "typo.css";
@import "common.css";
@import "responsive.css";
@import "megaMenuMobile.css";
@import "onboard.css";
@import "map.css";
@import "productDetails.css";
@import "notification.css";
